* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    color: #262626;
    font-family: "Helvetica", sans-serif;
}
#site-header {
    font-family: "Helvetica", serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.5vh 3vw;
}
#main-nav {
    position: static; 
    z-index: 2000;
}
#main-nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin: 0;
    padding: 0;
}
#main-nav ul li a {
    text-decoration: none;
    color: #262626;
    font-size: 1.2vw;
    font-weight: 500;
}
#main-nav ul li a:hover {
    color: #e7c000;
}
.site-logo {
    height: 6vh;
    width: auto;
}
.about-page {
    max-width: 1200px;
    margin: 6rem auto;
    padding: 0 1rem;
    font-family: "Helvetica", serif;
    color: #262626;
}
.about-hero p {
    font-family: "Georgia", serif;
    font-size: clamp(1.5rem, 2.3vw, 2.3rem);
    font-weight: 300;
    line-height: 1;
}
.about-hero p:first-of-type {
    margin-top: 25vh;
}
.about-hero p:nth-of-type(2) {
    margin-bottom: 20vh; 
}
.info-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 2rem;
    max-width: 1200px;
    margin: 0rem 0rem 5rem 0rem;
    padding-top: 1rem;
}
.info-section p {
    margin: 0;
    padding: 0;
    line-height: 1.2
}
.column {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.section-divider {
    border-top: 0.1rem solid #262626;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
}
.column:first-of-type p:first-child,
.column:nth-of-type(2) p:first-child,
.column:nth-of-type(3) p:first-child {
    margin-top: 1.5rem;
}
.column a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.column a:hover {
    color: #f2c94c;
}
.column a:visited {
    color: #67c0dd;
}
#site-footer {
    position: relative; 
    padding: 3vw;
    text-align: center;
    font-size: 0.8rem;
    color: #101010;
}
@media (max-width: 900px) {
    #site-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
    #main-nav ul {
        flex-direction: column;
        gap: 1rem;
    }
    #main-nav ul li a {
        font-size: 4vw; 
    }
    .site-logo {
        height: 5vh;
        margin-bottom: 1rem;
    }
    .info-section {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}
@media (max-width: 600px) {
    .about-page {
        margin: 5rem 1rem 2rem 1rem;
        padding: 0 0.5rem;
    }
}
